
@Html.Partial("~/Views/Shared/Partials/HomeNav")

<section id="introduction" class="image-bg">
    <div class="dark-overlay">
        <div class="content_box">
            <div class="hs-line-6 mb-40 hidden-xs">{{ trans('pages.home.slogan1') }}</div>
            <div class="hs-line-7 mb-40">{{ trans('pages.home.slogan2') }}</div>
            <a href="{{ URL::route('contact') }}" class="btn btn-lg btn-white">{{ trans('pages.home.buttons.hire') }}</a>
        </div>
    </div>
</section>

<section id="works" class="gray-bg">
    <div class="container">
        <div class="col-xs-12 pt-50 text-center">
            <h1>{{ trans('pages.home.works.header') }}</h1>
            <ul rn-carousel="" rn-carousel-controls="" class="item-slider">
                <li>
                    <div class="bg-image" ng-style="{'background-image': 'url(' + vm.slideOne.img + ')'}">
                        <div class="item-description">
                            <div class="row">
                                <div class="col-xs-12 pt-20">
                                    <h3>Spain-Holiday.com</h3>
                                </div>
                                <div class="col-xs-12 pt-20 hidden-xs">
                                    <h5>Responsive Design</h5>
                                    <h5>Single Page Application</h5>
                                    <h5>User Interfaces</h5>
                                </div>
                                <div class="col-xs-12 pt-20">
                                    <a target="_blank" href="http://www.spain-holiday.com/" class="btn btn-red">Go to project</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </li>
                <li>
                    <div class="bg-image" ng-style="{'background-image': 'url(' + vm.slideTwo.img + ')'}">
                        <div class="item-description">
                            <div class="row">
                                <div class="col-xs-12 pt-20">
                                    <h3>Slik-huset.dk</h3>
                                </div>
                                <div class="col-xs-12 pt-20 hidden-xs">
                                    <h5>Responsive Design</h5>
                                    <h5>Facebook Pages</h5>
                                    <h5>Logo Design</h5>
                                </div>
                                <div class="col-xs-12 pt-20">
                                    <a target="_blank" href="http://slik-huset.dk" class="btn btn-red">Go to project</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="bg-image" ng-style="{'background-image': 'url(' + vm.slideThree.img + ')'}">
                        <div class="item-description">
                            <div class="row">
                                <div class="col-xs-12 pt-20">
                                    <h3>Campaya.com</h3>
                                </div>
                                <div class="col-xs-12 pt-20 hidden-xs">
                                    <h5>Responsive Design</h5>
                                    <h5>New Design Implementation</h5>
                                </div>
                                <div class="col-xs-12 pt-20">
                                    <a target="_blank" href="http://campaya.com" class="btn btn-red">Go to project</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
